<link rel="stylesheet" href="./search/search.css"></link>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="search">
					<input type="text" class="form-control" id="search-bar"
						data-ng-model="vm.searchString" placeholder="Search for an item..."
						autocomplete="off">
						
					<button class="search-button" type="submit"><span class="fa fa-search"></span></button>
			  </div>

		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="list-group">
					<div class="list-group-item"
						data-ng-repeat="item in vm.items | searchFor:vm.searchString"
						data-ng-click="vm.goToItemPage(item.ItemId)">
							<div class="row">
								<div class="col-md-2">
									<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{item.image}}" />
								</div>
								<h4>{{item.title}}</h4>
								{{item.description | limitTo:80}}{{item.description.length>80 ? '...' : ''}}
							</div>	
								
					</div>
			</div>
		</div>
	</div>
</div>


