<link rel="stylesheet" href="./search/search.css"></link>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <img src="./assets/img/BorrowIt-bw.png" style="padding:10%; height:65%; width:65%; margin-left:17%"></img>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signup">
      <span id="inp-personal" class="inp-personal"></span>
      <input ng-model="name" type="name" id="full name" class="form-control" placeholder="Enter you full name" required>
      <input ng-model="dob" type="date" id="dob" class="form-control" placeholder="DOB" required style="width:25%;">
	<label> Date of Birth </label> </input>
      <span id="inp-email" class="inp-email"></span>
      <input ng-model="inputEmail" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input ng-model="confEmail" type="conf-email" id="confEmail" class="form-control" placeholder="Confirm Email adress" required autofocus>
      <input ng-model="college" type="College" id="inputCollege" class="form-control" placeholder="Enter the college you attend" required autofocus>
      <input ng-model="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <input ng-model="confPass" type="conf-password" id="confPassword" class="form-control" placeholder="Confirm Password" required>
      </div>
      <button ng-click="onSignupClick()" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>
    </form>
  </div>
</div>
